version: '3.8'

services:
  bot:
    build: .
    container_name: ${STUDENT_NAME}_bot
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
    networks:
      - bot_network

networks:
  bot_network:
    driver: bridge
